footer.main {
  padding-top: 0;
  padding-bottom: 0; }
  footer.main .wrap {
    margin-top: 1em; }

a {
  color: expression(this.parentNode.currentStyle['color']);
  text-decoration: none;
  text-decoration: expression(this.parentNode.style['textDecoration']); }
