@font-face {
  font-family: 'adelle';
  src: url("../fonts/adelle_reg-webfont.eot");
  src: url("../fonts/adelle_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/adelle_reg-webfont.woff") format("woff"), url("../fonts/adelle_reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nimbus-sans';
  src: url("../fonts/nimbussannovdhea-webfont.eot");
  src: url("../fonts/nimbussannovdhea-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nimbussannovdhea-webfont.woff") format("woff"), url("../fonts/nimbussannovdhea-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'social';
  src: url("../fonts/justvectorv2-webfont.eot");
  src: url("../fonts/justvectorv2-webfont.eot?#iefix") format("eot"), url("../fonts/justvectorv2-webfont.woff") format("woff"), url("../fonts/justvectorv2-webfont.ttf") format("truetype"), url("../fonts/justvectorv2-webfont.svg#webfontkw9J4lGf") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'adelle';
  src: url("../fonts/adelle_reg-webfont.eot");
  src: url("../fonts/adelle_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/adelle_reg-webfont.woff") format("woff"), url("../fonts/adelle_reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nimbus-sans';
  src: url("../fonts/nimbussannovdhea-webfont.eot");
  src: url("../fonts/nimbussannovdhea-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nimbussannovdhea-webfont.woff") format("woff"), url("../fonts/nimbussannovdhea-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'social';
  src: url("../fonts/justvectorv2-webfont.eot");
  src: url("../fonts/justvectorv2-webfont.eot?#iefix") format("eot"), url("../fonts/justvectorv2-webfont.woff") format("woff"), url("../fonts/justvectorv2-webfont.ttf") format("truetype"), url("../fonts/justvectorv2-webfont.svg#webfontkw9J4lGf") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrap, .articles > li .content {
  width: 100%;
  max-width: 660px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative; }

.center, nav li.home:before {
  position: absolute;
  top: 50%;
  left: 50%; }

.higher, nav li.home a, .lower, .wrap, .articles > li .content {
  position: relative; }

@media screen and (max-width: 767px) {
  .hideOnMobile, .articles > li header aside, .articles > li .content:before, .articles > li .content:after, .content .poster:before, .content .poster:after, footer.main .anchor, footer.main .mark {
    display: none; } }

.showOnMobile {
  display: none; }
  @media screen and (max-width: 767px) {
    .showOnMobile {
      display: block; } }

.sizeOfParent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.island, nav, .articles > li, .content blockquote {
  border-left: 10px solid #40b2d5; }

.headingText, nav, .articles > li header, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content .sharing h6 {
  font-family: 'nimbus-sans', sans-serif;
  text-transform: uppercase; }

li.horizontalList, .horizontalList > li, nav ul > li, .articles > li header aside ul > li {
  float: left; }

.link, .content p a, footer.main a {
  -moz-transition: border-bottom-width ease 0.2s, color ease 0.2s;
  -webkit-transition: border-bottom-width ease 0.2s, color ease 0.2s;
  -o-transition: border-bottom-width ease 0.2s, color ease 0.2s;
  transition: border-bottom-width ease 0.2s, color ease 0.2s;
  border-bottom: 2px solid #2486a5;
  color: #2486a5; }
  .link:nth-of-type(even), .content p a:nth-of-type(even), footer.main a:nth-of-type(even) {
    border-bottom-color: #336596;
    color: #336596; }
    .link:nth-of-type(even):hover, .content p a:nth-of-type(even):hover, footer.main a:nth-of-type(even):hover {
      color: #2486a5; }
  .link:hover, .content p a:hover, footer.main a:hover {
    border-bottom-width: 5px;
    color: #336596; }

.greyIsland, .content .comments-disabled, .content .fullpost {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0;
  margin-bottom: 0;
  padding: 10px;
  background: #ededed;
  text-align: center; }

.str {
  color: #EC7600; }

.kwd {
  color: #93C763; }

.com {
  color: #66747B; }

.typ {
  color: #678CB1; }

.lit {
  color: #FACD22; }

.pun {
  color: #F1F2F3; }

.pln {
  color: #F1F2F3; }

.tag {
  color: #8AC763; }

.atn {
  color: #E0E2E4; }

.atv {
  color: #EC7600; }

.dec {
  color: purple; }

/* General Styles */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: inherit; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

/* Theme */
html, body {
  height: 100%; }

body {
  font-family: 'adelle', sans-serif;
  color: #222222;
  text-shadow: 0 1px 0 white;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #fafafa;
  -moz-box-shadow: 10px 0 0 #40b2d5 inset;
  -webkit-box-shadow: 10px 0 0 #40b2d5 inset;
  -o-box-shadow: 10px 0 0 #40b2d5 inset;
  box-shadow: 10px 0 0 #40b2d5 inset; }
  body.nosticky {
    background: #fafafa; }

.body {
  position: relative;
  padding-bottom: 8em;
  width: 100%;
  min-height: 100%; }
  .body.nosticky {
    padding-bottom: 0; }

nav {
  color: #fafafa;
  text-shadow: 0 1px 0 black;
  -moz-box-shadow: 0 1px 0 #2f2f2f;
  -webkit-box-shadow: 0 1px 0 #2f2f2f;
  -o-box-shadow: 0 1px 0 #2f2f2f;
  box-shadow: 0 1px 0 #2f2f2f;
  margin-bottom: 1px;
  border-left-color: #151515;
  font-size: 1.2em;
  background: #222222; }
  nav, nav li, nav a {
    height: 50px; }
  nav li {
    line-height: 50px;
    position: relative;
    text-align: center; }
    nav li a {
      padding: 0 10px;
      display: block; }
    nav li.active, nav li:hover {
      background: black; }
    nav li.home {
      width: 50px; }
      nav li.home:before {
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        -o-border-radius: 30px;
        -ms-border-radius: 30px;
        -khtml-border-radius: 30px;
        border-radius: 30px;
        content: '';
        margin-left: -15px;
        margin-top: -15px;
        width: 30px;
        height: 30px;
        background: #fafafa; }
      nav li.home a {
        color: #222222;
        text-shadow: 0 1px 0 white; }

.articles > li {
  color: #222222;
  text-shadow: 0 1px 0 white;
  position: relative;
  background: #fafafa;
  position: relative; }
  .articles > li:focus {
    outline: none; }
  .articles > li.showContent {
    -moz-box-shadow: 0 1px 0 #c0e5f1;
    -webkit-box-shadow: 0 1px 0 #c0e5f1;
    -o-box-shadow: 0 1px 0 #c0e5f1;
    box-shadow: 0 1px 0 #c0e5f1; }
  .articles > li.showContent + li header {
    border-top: 1px solid #c0e5f1; }
  .articles > li.noFooter header h2 {
    position: static; }
  .articles > li.multiple:hover {
    border-left-color: #2da8cf; }
    .articles > li.multiple:hover header {
      background: #c0e5f1; }
  .articles > li:nth-child(even) {
    border-left-color: #518cc4; }
    .articles > li:nth-child(even) header {
      background: #d9e6f2;
      border-bottom-color: #c6d9ec; }
    .articles > li:nth-child(even).showContent + li header {
      border-top-color: #c6d9ec; }
    .articles > li:nth-child(even) footer li {
      background: #407fbc; }
      .articles > li:nth-child(even) footer li.plus:hover {
        background: #336596; }
    .articles > li:nth-child(even).multiple:hover {
      border-left-color: #407fbc; }
      .articles > li:nth-child(even).multiple:hover header {
        background: #c6d9ec; }
    .articles > li:nth-child(even) .content::selection, .articles > li:nth-child(even) .content *::selection {
      background: #336596; }
    .articles > li:nth-child(even) .content::-moz-selection, .articles > li:nth-child(even) .content *::-moz-selection {
      background: #336596; }
  .articles > li header {
    font-family: 'nimbus-sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    background: #d5eef6;
    border-bottom: 1px solid #c6d9ec;
    padding: 10px 0; }
    .articles > li header:hover {
      cursor: pointer; }
    .articles > li header a {
      z-index: 99; }
    .articles > li header h2 {
      float: left;
      line-height: 39px; }
    .articles > li header aside {
      float: right; }
      .articles > li header aside li {
        color: #fafafa;
        text-shadow: 0 1px 0 black;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        margin-left: 10px;
        background: #2da8cf;
        color: #fafafa;
        padding: 0 10px;
        line-height: 39px;
        position: relative;
        z-index: 2;
        text-align: center;
        text-shadow: none; }
        .articles > li header aside li.date {
          min-width: 8.8125em; }
        .articles > li header aside li.plus {
          cursor: pointer;
          min-width: 29px; }
          .articles > li header aside li.plus:hover {
            background: #2486a5; }
    .articles > li header:focus {
      outline: none; }
      .articles > li header:focus + .content {
        display: block; }
    .articles > li header .more a {
      position: relative; }
  .articles > li .content {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: none;
    text-align: left; }
    .articles > li .content:before, .articles > li .content:after {
      content: '';
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top: none;
      border-bottom-color: #fafafa;
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -5px; }
    .articles > li .content::selection, .articles > li .content *::selection {
      background: #2486a5;
      color: #fafafa;
      text-shadow: 0 1px 0 black;
      text-shadow: none; }
    .articles > li .content::-moz-selection, .articles > li .content *::-moz-selection {
      background: #2486a5;
      color: #fafafa;
      text-shadow: 0 1px 0 black;
      text-shadow: none; }
    .articles > li .content:before {
      margin-top: -1px;
      border-bottom-color: #c6d9ec; }
    .articles > li .content:focus {
      display: block;
      outline: none; }

.content p, .content blockquote, .content pre, .content li, .content ul, .content ol, .content img, .content .poster, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content footer {
  margin-top: 12.8px; }
  .content p:first-child, .content blockquote:first-child, .content pre:first-child, .content li:first-child, .content ul:first-child, .content ol:first-child, .content img:first-child, .content .poster:first-child, .content h1:first-child, .content h2:first-child, .content h3:first-child, .content h4:first-child, .content h5:first-child, .content h6:first-child, .content footer:first-child {
    margin-top: 0; }
.content p {
  line-height: 1.5em; }
.content li {
  border-left: none; }
.content ol, .content ul {
  margin-left: 20px; }
.content ul {
  list-style: square; }
.content ol {
  list-style: decimal; }
.content img {
  max-width: 100%; }
.content blockquote {
  border-left-width: 5px;
  border-left-color: #e6e6e6;
  padding-left: 15px;
  color: #2f2f2f;
  font-style: italic; }
.content code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 0 2px;
  background: whitesmoke;
  border: 1px solid #ededed;
  font-family: monospace;
  color: #616161; }
.content pre {
  white-space: pre;
  margin: 20px 0; }
  .content pre code {
    color: #fafafa;
    text-shadow: 0 1px 0 black;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    background: #222222;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #2f2f2f), color-stop(50%, #222222), color-stop(100%, #222222));
    background: -webkit-linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
    background: -moz-linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
    background: -o-linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
    background: -ms-linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
    background: linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
    -moz-background-size: 3.125em 3.125em;
    -webkit-background-size: 3.125em 3.125em;
    -o-background-size: 3.125em 3.125em;
    background-size: 3.125em 3.125em;
    display: block;
    border: none;
    padding: 1.563em 0.625em;
    line-height: 1.563em;
    overflow: auto; }
.content footer {
  border-top: 5px solid #ededed;
  padding-top: 5px; }
.content .poster {
  padding: 10px;
  padding-bottom: 2px;
  border: 1px solid #f0f0f0;
  background: whitesmoke;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  position: relative; }
  .content .poster a, .content .poster img {
    border: 0 none transparent; }
  .content .poster:before, .content .poster:after {
    position: absolute;
    content: '';
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border: 10px solid transparent;
    border-top: none;
    border-bottom-color: whitesmoke; }
  @media screen and (max-width: 767px) {
    .content .poster {
      width: 100%;
      border: none;
      padding: 0;
      background: #fafafa; } }
  .content .poster:before {
    margin-top: -1px;
    border-bottom-color: #f0f0f0; }
  .content .poster .overlay {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #000000), color-stop(50%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #000000));
    background-image: -webkit-linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 50%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 50%, #000000 50%);
    background-image: -moz-linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 50%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 50%, #000000 50%);
    background-image: -o-linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 50%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 50%, #000000 50%);
    background-image: -ms-linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 50%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 50%, #000000 50%);
    background-image: linear-gradient(#000000 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(left, rgba(0, 0, 0, 0) 50%, #000000 50%);
    -moz-background-size: 2px 2px;
    -webkit-background-size: 2px 2px;
    -o-background-size: 2px 2px;
    background-size: 2px 2px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 1; }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-bottom: .8em;
  margin-top: 1em; }
.content h1 {
  font-size: 2.25em; }
.content h2 {
  font-size: 2em; }
.content h3 {
  font-size: 1.75em; }
.content h4 {
  font-size: 1.5em; }
.content h5 {
  font-size: 1.25em; }
.content h6 {
  font-size: 1em; }
.content .fullpost {
  display: block;
  border: none; }
.content .sharing {
  width: 85px;
  right: -85px;
  top: 0;
  margin-top: 10px;
  padding-top: 10px;
  overflow: hidden;
  position: absolute; }
  .content .sharing ul {
    margin: 0;
    list-style: none;
    padding-bottom: 3px; }
  .content .sharing.sticky {
    position: fixed;
    right: 50%;
    margin-top: 0;
    margin-right: -420px; }
  .content .sharing .buttons li, .content .sharing .buttons li a {
    height: 20px; }
  .content .sharing .buttons li a {
    border: none;
    font-family: "Tohoma", sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #333;
    padding: 4px;
    padding-left: 16px;
    border: 1px solid #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #dedede;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dedede));
    background: -webkit-linear-gradient(top, #ffffff, #dedede);
    background: -moz-linear-gradient(top, #ffffff, #dedede);
    background: -o-linear-gradient(top, #ffffff, #dedede);
    background: -ms-linear-gradient(top, #ffffff, #dedede);
    background: linear-gradient(top, #ffffff, #dedede);
    line-height: 11px;
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 0 #fff; }
    .content .sharing .buttons li a:hover {
      border-color: #666;
      color: #000; }
    .content .sharing .buttons li a:active {
      background: #ddd; }
    .content .sharing .buttons li a:before, .content .sharing .buttons li a:after {
      font-family: 'social';
      font-weight: normal;
      font-size: 14px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 16px;
      text-align: center;
      text-shadow: none;
      color: #fff;
      line-height: 20px; }
    .content .sharing .buttons li a:after {
      z-index: 1; }
    .content .sharing .buttons li a:before {
      top: 1px; }
    .content .sharing .buttons li a.twitter:before, .content .sharing .buttons li a.twitter:after {
      content: 't';
      line-height: 22px; }
    .content .sharing .buttons li a.twitter:after {
      color: #40b2d5; }
    .content .sharing .buttons li a.facebook:before, .content .sharing .buttons li a.facebook:after {
      content: 'F'; }
    .content .sharing .buttons li a.facebook:after {
      color: #407fbc; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .content .sharing .buttons li a:after {
        -moz-background-clip: -webkit-text;
        -webkit-background-clip: -webkit-text;
        -o-background-clip: -webkit-text;
        -ms-background-clip: -webkit-text;
        -khtml-background-clip: -webkit-text;
        background-clip: -webkit-text;
        -webkit-text-fill-color: transparent; }
      .content .sharing .buttons li a.twitter:after {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #40b2d5), color-stop(100%, #2da8cf));
        background-image: -webkit-linear-gradient(top, #40b2d5, #2da8cf);
        background-image: -moz-linear-gradient(top, #40b2d5, #2da8cf);
        background-image: -o-linear-gradient(top, #40b2d5, #2da8cf);
        background-image: -ms-linear-gradient(top, #40b2d5, #2da8cf);
        background-image: linear-gradient(top, #40b2d5, #2da8cf); }
      .content .sharing .buttons li a.facebook:after {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #407fbc), color-stop(100%, #336596));
        background-image: -webkit-linear-gradient(top, #407fbc, #336596);
        background-image: -moz-linear-gradient(top, #407fbc, #336596);
        background-image: -o-linear-gradient(top, #407fbc, #336596);
        background-image: -ms-linear-gradient(top, #407fbc, #336596);
        background-image: linear-gradient(top, #407fbc, #336596); } }
  @media screen and (max-width: 850px) and (min-width: 0px) {
    .content .sharing {
      text-align: center;
      width: 100%;
      margin-top: 0; }
      .content .sharing, .content .sharing.sticky {
        position: static; }
      .content .sharing h6 {
        display: none; }
      .content .sharing ul {
        margin: 0; }
      .content .sharing li {
        display: inline-block;
        margin: 0;
        margin-right: 10px; }
        .content .sharing li.buffer {
          display: none; } }
.content hr {
  margin: 20px 0;
  border: 5px solid #ededed; }
.content p img {
  margin: 20px;
  margin-bottom: 15px;
  float: left;
  max-width: 30%; }
  .content p img:nth-child(even) {
    float: right;
    margin-left: 20px; }

footer.main {
  background: #ededed;
  width: 100%;
  text-align: center;
  color: #2f2f2f;
  text-shadow: 0 1px 0 #fafafa;
  font-family: 'adelle', sans-serif;
  min-height: 8em;
  line-height: 2em;
  padding: 1em 0;
  position: absolute;
  bottom: 0; }
  footer.main.nosticky {
    position: relative;
    padding: 0; }
    footer.main.nosticky .wrap, footer.main.nosticky .articles > li .content, .articles > li footer.main.nosticky .content {
      padding-top: 1em; }
  footer.main .wrap, footer.main .articles > li .content, .articles > li footer.main .content {
    width: 100%;
    padding: 0 20px;
    max-width: 25em;
    margin: 0 auto; }
  footer.main .anchor, footer.main .mark {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    opacity: .1;
    -moz-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
    footer.main .anchor:hover, footer.main .mark:hover {
      opacity: 1; }
  footer.main .anchor {
    right: 50px;
    opacity: .3; }
  footer.main .mark {
    right: 100px; }

.about .content img {
  max-width: 300px;
  float: left;
  margin: 0 20px 20px 0; }

.clear {
  width: 100%;
  height: 0;
  clear: both; }

body.single.post li .content > p:nth-of-type(1) {
  font-weight: bold; }

.posts .excerpt {
  font-weight: normal; }

body.single li .content {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block; }

.articles li.showContent .content {
  display: block; }

.iemessage {
  color: #fafafa;
  text-shadow: 0 1px 0 #2486a5;
  font-family: 'nimbus-sans', sans-serif;
  text-transform: uppercase;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #40b2d5; }
  .iemessage a {
    color: #d4d4d4; }

.livefyre-comments {
  text-shadow: none; }

.notfound {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background: #96d4e8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1px, #d5eef6), color-stop(1px, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1px, #d5eef6), color-stop(1px, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0)), -webkit-linear-gradient(left, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0)), -moz-linear-gradient(left, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0)), -o-linear-gradient(left, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0)), -ms-linear-gradient(left, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0)), linear-gradient(left, #d5eef6 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0));
  -moz-background-size: 10px 10px;
  -webkit-background-size: 10px 10px;
  -o-background-size: 10px 10px;
  background-size: 10px 10px; }
  .notfound .browser {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    height: 500px;
    margin-top: -300px;
    position: relative;
    font-family: cursive;
    font-weight: bold;
    text-shadow: none;
    margin: 20px auto;
    border: 10px solid #000; }
    .notfound .browser .content {
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      background: rgba(255, 255, 255, 0.5); }
      .notfound .browser .content .title, .notfound .browser .content .info {
        line-height: 405px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .notfound .browser .content .title {
        font-size: 3em; }
      .notfound .browser .content .info {
        top: 3em;
        color: #262626; }
      .notfound .browser .content a {
        font-weight: normal;
        border-bottom: 1px dotted #262626; }
    .notfound .browser .uibar {
      width: 100%;
      height: 75px;
      border-bottom: 10px solid #000;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.3); }
      .notfound .browser .uibar .urlbar {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 120px;
        border: 5px solid #000;
        background: rgba(255, 255, 255, 0.5);
        line-height: 35px;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis; }
      .notfound .browser .uibar .buttons {
        width: 100px;
        height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: 10px;
        text-align: center; }
        .notfound .browser .uibar .buttons li {
          height: 30px;
          width: 30px;
          -moz-border-radius: 30px;
          -webkit-border-radius: 30px;
          -o-border-radius: 30px;
          -ms-border-radius: 30px;
          -khtml-border-radius: 30px;
          border-radius: 30px;
          border: 5px solid #000;
          display: inline-block;
          background: rgba(255, 255, 255, 0.5); }

#disqus_thread {
  margin-top: 10px; }
