@font-face {
  font-family: 'adelle';
  src: url("../fonts/adelle_reg-webfont.eot");
  src: url("../fonts/adelle_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/adelle_reg-webfont.woff") format("woff"), url("../fonts/adelle_reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nimbus-sans';
  src: url("../fonts/nimbussannovdhea-webfont.eot");
  src: url("../fonts/nimbussannovdhea-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nimbussannovdhea-webfont.woff") format("woff"), url("../fonts/nimbussannovdhea-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* General Styles */
/* line 8, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/main.scss */
a {
  color: inherit;
  text-decoration: inherit;
}

/* line 10, ../sass/main.scss */
strong, b {
  font-weight: bold;
}

/* line 11, ../sass/main.scss */
em, i {
  font-style: italic;
}

/* Theme */
/* line 14, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 15, ../sass/main.scss */
body {
  font-family: 'adelle', sans-serif;
  color: #222222;
  text-shadow: 0 1px 0 white;
  font-size: 16px;
  line-height: 1.5em;
  background: #fafafa;
}

/* line 25, ../sass/main.scss */
.body {
  position: relative;
  padding-bottom: 8em;
  width: 100%;
  min-height: 100%;
}

/* line 32, ../sass/main.scss */
nav {
  color: #fafafa;
  text-shadow: 0 1px 0 black;
  font-family: 'nimbus-sans', sans-serif;
  text-transform: uppercase;
  height: 50px;
  border-left: 10px solid #151515;
  background: #222222;
  margin-bottom: 1px;
  -moz-box-shadow: 0 1px 0 #2f2f2f;
  -webkit-box-shadow: 0 1px 0 #2f2f2f;
  -o-box-shadow: 0 1px 0 #2f2f2f;
  box-shadow: 0 1px 0 #2f2f2f;
  font-size: 1.2em;
}
/* line 44, ../sass/main.scss */
nav li {
  float: left;
  height: 50px;
  line-height: 50px;
  position: relative;
}
/* line 50, ../sass/main.scss */
nav li a {
  height: 50px;
  padding: 0 10px;
  display: block;
}
/* line 56, ../sass/main.scss */
nav li.active a, nav li:hover a {
  background: black;
}
/* line 60, ../sass/main.scss */
nav li.home {
  width: 50px;
}
/* line 63, ../sass/main.scss */
nav li.home.active, nav li.home:hover {
  background: black;
}
/* line 66, ../sass/main.scss */
nav li.home.active a, nav li.home:hover a {
  background: transparent;
}
/* line 69, ../sass/main.scss */
nav li.home a {
  color: #222222;
  text-shadow: 0 1px 0 white;
  z-index: 2;
  position: relative;
  width: 100%;
  text-align: center;
}
/* line 76, ../sass/main.scss */
nav li.home a:hover {
  background: transparent;
}
/* line 79, ../sass/main.scss */
nav li.home:before {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  content: '';
  background: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

/* line 95, ../sass/main.scss */
.articles {
  width: 100%;
}
/* line 98, ../sass/main.scss */
.articles li {
  color: #222222;
  text-shadow: 0 1px 0 white;
  position: relative;
  border-left: 10px solid #40b2d5;
  background: #fafafa;
}
/* line 104, ../sass/main.scss */
.articles li:nth-child(even) {
  border-color: #b2d540;
}
/* line 106, ../sass/main.scss */
.articles li:nth-child(even) header {
  background: #eef6d5;
  border-bottom-color: #e5f1c0;
}
/* line 112, ../sass/main.scss */
.articles li:nth-child(even) header footer li {
  color: #fafafa;
  text-shadow: 0 1px 0 #b2d540;
  background: #a8cf2d;
}
/* line 116, ../sass/main.scss */
.articles li:nth-child(even) header footer li a:hover {
  color: #fafafa;
  text-shadow: 0 1px 0 #a8cf2d;
}
/* line 118, ../sass/main.scss */
.articles li:nth-child(even) header footer li a:hover, .articles li:nth-child(even) header footer li a:hover:before, .articles li:nth-child(even) header footer li a:hover:after {
  background: #86a524;
}
/* line 34, ../sass/_mixins.scss */
.articles li:nth-child(even) .content::selection {
  background: #eef6d5;
}
/* line 38, ../sass/_mixins.scss */
.articles li:nth-child(even) .content::-moz-selection {
  background: #eef6d5;
}
/* line 133, ../sass/main.scss */
.articles li:nth-child(even):hover {
  border-left-color: #a8cf2d;
}
/* line 134, ../sass/main.scss */
.articles li:nth-child(even):hover header {
  background: #e5f1c0;
}
/* line 140, ../sass/main.scss */
.articles li:hover {
  border-left-color: #2da8cf;
}
/* line 141, ../sass/main.scss */
.articles li:hover header {
  background: #c0e5f1;
}
/* line 145, ../sass/main.scss */
.articles li header {
  position: relative;
  padding: 20px;
  background: #d5eef6;
  font-family: 'nimbus-sans', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #c0e5f1;
}
/* line 152, ../sass/main.scss */
.articles li header footer {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 10px;
  margin-top: -2.5px;
}
@media screen and (max-width: 767px) {
  /* line 152, ../sass/main.scss */
  .articles li header footer {
    display: none;
  }
}
/* line 163, ../sass/main.scss */
.articles li header footer li {
  color: #fafafa;
  text-shadow: 0 1px 0 #40b2d5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
  background: #2da8cf;
  padding: 0 10px;
  line-height: 39px;
  border: none;
  position: relative;
}
/* line 174, ../sass/main.scss */
.articles li header footer li a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
/* line 180, ../sass/main.scss */
.articles li header footer li a:hover {
  color: #fafafa;
  text-shadow: 0 1px 0 #2da8cf;
}
/* line 182, ../sass/main.scss */
.articles li header footer li a:hover, .articles li header footer li a:hover:before, .articles li header footer li a:hover:after {
  background: #2486a5;
}
/* line 187, ../sass/main.scss */
.articles li header footer li a:before, .articles li header footer li a:after {
  top: 0;
  bottom: 0;
  width: 10px;
  content: '';
  position: absolute;
}
/* line 195, ../sass/main.scss */
.articles li header footer li a:before {
  left: -10px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -khtml-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
/* line 200, ../sass/main.scss */
.articles li header footer li a:after {
  right: -10px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -o-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  -khtml-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
/* line 209, ../sass/main.scss */
.articles li .content {
  background: #fafafa;
  width: 100%;
  padding: 20px 30px;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}
/* line 217, ../sass/main.scss */
.articles li .content:before, .articles li .content:after {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: none;
  border-bottom-color: #fafafa;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
}
@media screen and (max-width: 767px) {
  /* line 217, ../sass/main.scss */
  .articles li .content:before, .articles li .content:after {
    display: none;
  }
}
/* line 34, ../sass/_mixins.scss */
.articles li .content::selection, .articles li .content *::selection {
  background: #d5eef6;
}
/* line 38, ../sass/_mixins.scss */
.articles li .content::-moz-selection, .articles li .content *::-moz-selection {
  background: #d5eef6;
}
/* line 240, ../sass/main.scss */
.articles li .content:before {
  margin-top: -1px;
  border-bottom-color: #c0e5f1;
}

/* line 249, ../sass/main.scss */
.content p, .content blockquote, .content pre, .content li, .content ul, .content img, .content .poster, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-top: 12.8px;
}
/* line 252, ../sass/main.scss */
.content p:first-child, .content blockquote:first-child, .content pre:first-child, .content li:first-child, .content ul:first-child, .content img:first-child, .content .poster:first-child, .content h1:first-child, .content h2:first-child, .content h3:first-child, .content h4:first-child, .content h5:first-child, .content h6:first-child {
  margin-top: 0;
}
/* line 257, ../sass/main.scss */
.content p {
  line-height: 1.5em;
}
/* line 259, ../sass/main.scss */
.content li {
  border-left: none;
}
/* line 264, ../sass/main.scss */
.content ol, .content ul {
  margin-left: 20px;
}
/* line 268, ../sass/main.scss */
.content ul {
  list-style: square;
}
/* line 269, ../sass/main.scss */
.content ol {
  list-style: decimal;
}
/* line 271, ../sass/main.scss */
.content blockquote {
  border-left: 5px solid #e6e6e6;
  padding-left: 15px;
  color: #2f2f2f;
  font-style: italic;
}
/* line 280, ../sass/main.scss */
.content code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 0 2px;
  background: whitesmoke;
  border: 1px solid #ededed;
  font-family: monospace;
  color: #616161;
}
/* line 289, ../sass/main.scss */
.content pre {
  white-space: pre;
  margin: 20px 0;
}
/* line 293, ../sass/main.scss */
.content pre code {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  color: #fafafa;
  text-shadow: 0 1px 0 black;
  background: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #2f2f2f), color-stop(50%, #222222), color-stop(100%, #222222));
  background: -webkit-linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
  background: -moz-linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
  background: -o-linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
  background: -ms-linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
  background: linear-gradient(#2f2f2f 50%, #222222 50%, #222222);
  -moz-background-size: 3.125em 3.125em;
  -webkit-background-size: 3.125em 3.125em;
  -o-background-size: 3.125em 3.125em;
  background-size: 3.125em 3.125em;
  display: block;
  border: none;
  padding: 1.563em 0.625em;
  line-height: 1.563em;
  overflow: auto;
}
/* line 308, ../sass/main.scss */
.content img {
  max-width: 100%;
}
/* line 313, ../sass/main.scss */
.content a {
  -moz-transition: border-bottom-width ease 0.2s;
  -webkit-transition: border-bottom-width ease 0.2s;
  -o-transition: border-bottom-width ease 0.2s;
  transition: border-bottom-width ease 0.2s;
  border-bottom: 2px solid #2486a5;
  color: #2486a5;
}
/* line 318, ../sass/main.scss */
.content a:nth-of-type(even) {
  border-bottom-color: #86a524;
  color: #86a524;
}
/* line 322, ../sass/main.scss */
.content a:hover {
  border-bottom-width: 5px;
}
/* line 325, ../sass/main.scss */
.content .poster {
  padding: 10px;
  padding-bottom: 2px;
  border: 1px solid #f0f0f0;
  background: whitesmoke;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
/* line 335, ../sass/main.scss */
.content .poster a, .content .poster img {
  border: 0 none transparent;
}
/* line 337, ../sass/main.scss */
.content .poster:before, .content .poster:after {
  position: absolute;
  content: '';
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border: 10px solid transparent;
  border-top: none;
  border-bottom-color: whitesmoke;
}
@media screen and (max-width: 767px) {
  /* line 337, ../sass/main.scss */
  .content .poster:before, .content .poster:after {
    display: none;
  }
}
/* line 350, ../sass/main.scss */
.content .poster:before {
  margin-top: -1px;
  border-bottom-color: #f0f0f0;
}
/* line 356, ../sass/main.scss */
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-family: 'nimbus-sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: .8em;
  margin-top: 1em;
}
/* line 363, ../sass/main.scss */
.content h1 {
  font-size: 2.25em;
}
/* line 363, ../sass/main.scss */
.content h2 {
  font-size: 2em;
}
/* line 363, ../sass/main.scss */
.content h3 {
  font-size: 1.75em;
}
/* line 363, ../sass/main.scss */
.content h4 {
  font-size: 1.5em;
}
/* line 363, ../sass/main.scss */
.content h5 {
  font-size: 1.25em;
}
/* line 363, ../sass/main.scss */
.content h6 {
  font-size: 1em;
}

/* line 369, ../sass/main.scss */
footer.main {
  background: #ededed;
  width: 100%;
  text-align: center;
  color: #2f2f2f;
  text-shadow: 0 1px 0 #fafafa;
  font-family: 'adelle', sans-serif;
  min-height: 8em;
  line-height: 2em;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
}
/* line 382, ../sass/main.scss */
footer.main .wrap {
  width: 100%;
  padding: 0 20px;
  max-width: 25em;
  margin: 0 auto;
}
/* line 389, ../sass/main.scss */
footer.main a {
  -moz-transition: border-bottom-width 0.2s ease;
  -webkit-transition: border-bottom-width 0.2s ease;
  -o-transition: border-bottom-width 0.2s ease;
  transition: border-bottom-width 0.2s ease;
  border-bottom: 2px solid #86a524;
}
/* line 393, ../sass/main.scss */
footer.main a:nth-of-type(odd) {
  border-bottom-color: #2486a5;
}
/* line 397, ../sass/main.scss */
footer.main a:hover {
  border-bottom-width: 5px;
}

/* line 402, ../sass/main.scss */
.about .content img {
  max-width: 300px;
  float: left;
  margin: 0 20px 20px 0;
}

/* line 409, ../sass/main.scss */
.clear {
  width: 100%;
  height: 0;
  clear: both;
}

/* line 411, ../sass/main.scss */
.excerpt {
  font-weight: bold;
}

/* line 412, ../sass/main.scss */
.posts .excerpt {
  font-weight: normal;
}

/* line 413, ../sass/main.scss */
.single li .content {
  padding-top: 30px;
  padding-bottom: 30px;
}
