$light: #fafafa;
$dark: #222;
$sat: darken(#55bada, 5);
// $secondSat: darken(#bada55, 5);
$lighterFactor: 5;
$darkerFactor: $lighterFactor;
$lightestFactor: $lighterFactor*3;
$darkestFactor: $lightestFactor;
//$secondSat: darken($sat, $darkestFactor + $darkerFactor);
// $secondSat: complement($sat);
$secondSat: adjust-hue(desaturate($sat, $darkestFactor), $darkestFactor);

@mixin lightText($shadow: black) { @include text($light, $shadow); }
@mixin darkText($shadow: white) { @include text($dark, $shadow); }
@mixin text($color, $shadow) { color: $color; text-shadow: 0 1px 0 $shadow; }

@function makeBright($color) { @return change-color($color, $lightness: 90%); }
@function makeLighter($color) { @return lighten($color, $lighterFactor); }
@function makeDarker($color) { @return darken($color, $darkerFactor); }
@function makeLightest($color) { @return lighten($color, $lightestFactor); }
@function makeDarkest($color) { @return darken($color, $darkestFactor); }