@import "compass/css3";

@mixin bodyText {
	font-family: 'adelle', sans-serif;

	strong, b {
		font-family: 'adelle_bold', sans-serif;
		font-weight: normal;
	}

	em, i, blockquote {
		font-family: 'adelle_italic', sans-serif;
		font-style: normal;
	}

	strong em, strong i, strong blockquote, b em, b i, b blockquote, em strong, em b, i strong, i b, blockquote strong, blockquote b {
		font-family: 'adelle_bold_italic', sans-serif;
		font-weight: normal;
		font-style: normal;
	}
}
@mixin headingText { font-family: 'nimbus-sans', sans-serif; text-transform: uppercase; }

@mixin noise($color:#fff, $color2:false, $intensity: 0.02) {
	background: $color;
	$color: transparentize($color, $intensity);
	@if $color2 == false {
			$color2: $color;
	} @else {
			$color2: transparentize($color2, $intensity);
	}
	@include background(linear-gradient(top, $color, $color2), inline-image("noise.jpg"));
}
@mixin respond-to($type, $min: 0px) {
	@if $type == handheld {
		@media screen and (max-width: 767px) {
			@content;
		}
		
	} @else if $type == webkit {
		@media screen and (-webkit-min-device-pixel-ratio: 0) {
			@content;
		}
	} @else if $type == nonhandheld {
		@media screen and (min-width: 769px) {
			@content;
		}
	} @else {
		@media screen and (max-width: $type) and (min-width: $min) {
			@content;
		}
	}
}

@mixin selection {
	&::selection {
		@content;
	}

	&::-moz-selection {
		@content;
	}
}