@import "compass/css3";
@mixin noise($color:#fff, $color2:false, $intensity: 0.02) {
	background: $color;
	$color: transparentize($color, $intensity);
	@if $color2 == false {
			$color2: $color;
	} @else {
			$color2: transparentize($color2, $intensity);
	}
	@include background(linear-gradient(top, $color, $color2), inline-image("noise.jpg"));
}
@mixin respond-to($type, $min: 0px) {
	@if $type == handheld {
		@media screen and (max-width: 767px) {
			@content;
		}
		
	} @else if $type == webkit {
		@media screen and (-webkit-min-device-pixel-ratio: 0) {
			@content;
		}
	} @else if $type == nonhandheld {
		@media screen and (min-width: 769px) {
			@content;
		}
	} @else {
		@media screen and (max-width: $type) and (min-width: $min) {
			@content;
		}
	}
}

@mixin selection {
	&::selection {
		@content;
	}

	&::-moz-selection {
		@content;
	}
}