footer.main {
	padding: {
		top: 0;
		bottom: 0;
	}

	.wrap {
		margin-top: 1em;
	}
}

a {
	color: expression(this.parentNode.currentStyle['color']);
	text-decoration: none;
	text-decoration: expression(this.parentNode.style['textDecoration']);
}