@import "compass/css3";
@import "_colors";
@import "_mixins";
@import "_fonts";
@import "compass/reset";
@import "_modules";
@import "_prettify";

/* General Styles */
* {
	@include box-sizing(border-box);
}
a { color: inherit; text-decoration: inherit; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

/* Theme */ 
html, body { height: 100%; }
body {
	@include bodyText;
	@include darkText;
	font-size: 16px;
	line-height: 1.5em;
	background: $light;
}

.body {
	position: relative;
	padding-bottom: 8em;
	width: 100%;
	min-height: 100%;

	&.nosticky { padding-bottom: 0; }
}

nav {
	$height: 50px;
	@extend .island;
	@include lightText;
	@extend .headingText;
	@include box-shadow(0 1px 0 makeLighter($dark));
	margin-bottom: 1px;
	border-left-color: makeDarker($dark);
	font-size: 1.2em;
	background: $dark;

	&, li, a { height: $height; }

	ul { @extend .horizontalList; }

	li {
		line-height: $height;
		position: relative;
		text-align: center;

		a {
			padding: 0 10px;
			display: block;
		}

		&.active, &:hover {
			background: makeDarkest($dark);
		}

		&.home {
			width: $height;

			&:before {
				$height: $height - 20;
				@include border-radius($height);
				@extend .center;
				content: '';
				margin-left: -1 * ($height / 2);
				margin-top: -1 * ($height / 2);
				width: $height;
				height: $height;
				background: $light;
			}

			a {
				@include darkText;
				@extend .higher;
			}
		}
	}
}

.articles {

	> li {
		$borderColor: makeDarker(makeBright($sat));
		@extend .island;
		@include darkText;
		position: relative;
		background: $light;
		position: relative;

		&:focus { outline: none; }
		&.showContent { @include box-shadow(0 1px 0 $borderColor); }
		&.showContent + li header { border-top: 1px solid $borderColor; }
		&.noFooter header h2 { position: static; }
		&:hover {
			header { background: $borderColor; }
			border-left-color: makeDarker($sat);
		}
		&:nth-child(#{even}) {
			border-left-color: $secondSat;
			$borderColor: makeDarker(makeBright($secondSat));
			header {
				background: makeBright($secondSat);
				border-bottom-color: $borderColor;
			}
			&.showContent + li header { border-top-color: $borderColor; }
			footer li {
				background: makeDarker($secondSat);
				&.plus:hover { background: makeDarkest($secondSat); }
			}
			&:hover {
				header { background: $borderColor; }
				border-left-color: makeDarker($secondSat);
			}
			.content {
				&, * {
					@include selection { background: makeDarkest($secondSat); }
				}
			}
		}
		header {
			@extend .headingText;
			@include headingText;
			position: relative;
			background: makeBright($sat);
			border-bottom: 1px solid $borderColor;
			padding: 10px 0;

			> a {
				@extend .sizeOfParent;
				z-index: 1;
			}
			h2 {
				float: left;
				line-height: 39px;
			}
			aside {
				@extend .hideOnMobile;
				float: right;

				ul { @extend .horizontalList; }
				li {
					@include lightText;
					@include border-radius(5px);
					margin-left: 10px;
					background: makeDarker($sat);
					padding: 0 10px;
					line-height: 39px;
					position: relative;
					z-index: 2;
					text: {
						align: center;
						shadow: none;
					}

					&.date { min-width: 8.8125em; }
					&.plus {
						cursor: pointer;
						min-width: 29px;

						&:hover { background: makeDarkest($sat); }
					}
				}
			}
		}
		.content {
			@extend .wrap;
			padding-top: 20px;
			padding-bottom: 20px;
			position: relative;
			display: none;
			text-align: justify;

			&:before, &:after {
				@extend .hideOnMobile;
				content: '';
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-top: none;
				border-bottom-color: $light;
				position: absolute;
				top: -10px;
				left: 50%;
				margin-left: -5px;
			}

			&, * {
				@include selection {
					background: makeDarkest($sat);
					@include lightText;
					text-shadow: none;
				}
			}

			&:before {
				margin-top: -1px;
				border-bottom-color: $borderColor;
			}
		}
	}
}

.content {
	p, blockquote, pre, li, ul, ol, img, .poster, h1, h2, h3, h4, h5, h6 {
		margin-top: 12.8px;

		&:first-child { margin-top: 0; }
	}
	p { line-height: 1.5em; }
	li { border-left: none; }
	ol, ul { margin-left: 20px; }
	ul { list-style: square; }
	ol { list-style: decimal; }
	img { max-width: 100%; }
	a { @extend .link; }

	blockquote {
		@extend .island;
		border-left: { width: 5px; color: makeBright($dark); }
		padding-left: 15px;
		color: makeLighter($dark);
		font-style: italic;
	}

	code {
		@include border-radius(3px);
		padding: 0 2px;
		background: darken($light, 2);
		border: 1px solid makeDarker($light);
		font-family: monospace;
		color: darken($light, $darkestFactor*4);
	}

	pre {
		white-space: pre;
		margin: 20px 0;

		code {
			$fontSize: 16;
			@include lightText;
			@include border-radius(0);
			background: $dark;
			@include background(linear-gradient(makeLighter($dark) 50%, $dark 50%, $dark));
			@include background-size(#{50 / $fontSize}em #{50 / $fontSize}em);
			display: block;
			border: none;
			padding: #{25 / $fontSize}em #{10 / $fontSize}em;
			line-height: #{25 / $fontSize}em;
			overflow: auto;
		}
	}

	.poster {
		padding: 10px;
		padding-bottom: 2px;
		border: 1px solid darken($light, 4);
		background: darken($light, 2);
		width: 75%;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
		position: relative;

		a, img { border: 0 none transparent; }

		&:before, &:after {
			@extend .hideOnMobile;
			position: absolute;
			content: '';
			top: -10px;
			left: 50%;
			margin-left: -5px;
			border: 10px solid transparent;
			border-top: none;
			border-bottom-color: darken($light, 2);
		}

		&:before {
			margin-top: -1px;
			border-bottom-color: darken($light, 4);
		}
	}

	h1, h2, h3, h4, h5, h6 {
		@extend .headingText;
		margin: { bottom: .8em; top: 1em; }
	}

	@for $i from 1 through 6 {
		#{h + $i} {
			font-size: #{(16 + ((6 - $i) * 4)) / 16}em;
		}
	}

	.comments, .fullpost {
		@extend .greyIsland;
	}

	.fullpost {
		display: block;
		border: none;
	}

	.sharing {
		@include respond-to(850px) { display: none; }
		$w: 85px;
		width: $w;
		right: 0 - $w;
		top: 0;
		margin-top: 10px;
		padding-top: 10px;
		overflow: hidden;
		position: absolute;

		ul {
			margin: 0;
			list-style: none;
		}

		h6 {
			@extend .headingText;
		}

		&.sticky {
			position: fixed;
			right: 50%;
			margin-top: 0;
			margin-right: 0 - $wrapWidth / 2 - $w - 5;
		}
	}

	hr {
		margin: 20px 0;
		border: 5px solid makeDarker($light);
	}
}

footer.main {
	background: makeDarker($light);
	width: 100%;
	text-align: center;
	color: makeLighter($dark);
	text-shadow: 0 1px 0 $light;
	@include bodyText;
	min-height: 8em;
	line-height: 2em;
	padding: 1em 0;
	position: absolute;
	bottom: 0;

	&.nosticky {
		position: relative;
		padding: 0;
		.wrap { padding-top: 1em; }
	}

	.wrap {
		width: 100%;
		padding: 0 20px;
		max-width: 25em;
		margin: 0 auto;
	}

	a {
		@extend .link;
	}

	.anchor {
		@extend .hideOnMobile;
		position: absolute;
		right: 50px;
		top: 50%;
		margin-top: -15px;
	}
}

.about .content {
	img {
		max-width: 300px;
		float: left;
		margin: 0 20px 20px 0;
	}
}

.clear { width: 100%; height: 0; clear: both; }

.single.post li .content p:nth-of-type(1) { font-weight: bold; }
.posts .excerpt { font-weight: normal; }
.single li .content {
	padding: {
		top: 30px;
		bottom: 30px;
	}
	display: block;
}

@include respond-to(nonhandheld) {

	.sad_face {
		font-size: 30em;
		position: relative;
		top: .5em;
		color: makeDarkest($light);
		$shadow: 0px 0px 0px makeDarkest($light);
		@for $i from 1 through 6 {
			$shadow: #{$shadow}, 0 #{$i}px darken(makeDarkest($light), $i);
		}
		text-shadow: $shadow;
		text-align: center;
	}

	.speech {
		@include darkText(makeDarker($light));
		height: 50px;
		line-height: 30px;
		background: makeDarker($light);
		position: absolute;
		right: -7.5em;
		margin-top: -15px;
		top: 50%;
		padding: 10px;
		font-size: 0.53em;
		@include border-radius(5px);

		&:before {
			position: absolute;
			left: -10px;
			top: 50%;
			margin-top: -5px;
			border: 10px solid transparent;
			border-left: none;
			border-right-color: makeDarker($light);
			content: '';
		}
	}
	.notfound li .content {
		position: relative; height: 30em;
	}
}

@include respond-to(handheld) {
	.sad_face {
		font-size: 3em;
		margin-bottom: .25em;
		color: lighten($dark, $lightestFactor*3);
	}
}

.notfound li .content { text-align: center; }

.articles li.showContent .content { display: block; }

.iemessage {
	@include lightText(makeDarkest($sat));
	@include headingText;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: $sat;

	a {
		color: makeDarkest($light);
	}
}

#fb-root { @extend .hideOnMobile; max-width: 100%; }

.linkwithin { position: absolute; bottom: 0; left: 0;}