@import "compass/css3";
@import "_colors";
@import "_mixins";
@import "_fonts";
@import "compass/reset";
@import "_modules";
@import "_prettify";

/* General Styles */
* {
	@include box-sizing(border-box);
}
a { color: inherit; text-decoration: inherit; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

/* Theme */ 
html, body { height: 100%; }
body {
	@include bodyText;
	@include darkText;
	font-size: 16px;
	line-height: 1.5em;
	background-color: $light;
	// @include background($light linear-gradient(left, $sat, $sat 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0)));
	@include box-shadow(10px 0 0 $sat inset);

	&.nosticky {
		background: $light;
	}
}

.body {
	position: relative;
	padding-bottom: 8em;
	width: 100%;
	min-height: 100%;

	&.nosticky { padding-bottom: 0; }
}

nav {
	$height: 50px;
	@extend .island;
	@include lightText;
	@extend .headingText;
	@include box-shadow(0 1px 0 makeLighter($dark));
	margin-bottom: 1px;
	border-left-color: makeDarker($dark);
	font-size: 1.2em;
	background: $dark;

	&, li, a { height: $height; }

	ul { @extend .horizontalList; }

	li {
		line-height: $height;
		position: relative;
		text-align: center;

		a {
			padding: 0 10px;
			display: block;
		}

		&.active, &:hover {
			background: makeDarkest($dark);
		}

		&.home {
			width: $height;

			&:before {
				$height: $height - 20;
				@include border-radius($height);
				@extend .center;
				content: '';
				margin-left: -1 * ($height / 2);
				margin-top: -1 * ($height / 2);
				width: $height;
				height: $height;
				background: $light;
			}

			a {
				@include darkText;
				@extend .higher;
			}
		}
	}
}

.articles {

	> li {
		$borderColor: makeDarker(makeBright($sat));
		@extend .island;
		@include darkText;
		position: relative;
		background: $light;
		position: relative;

		&:focus { outline: none; }
		&.showContent { @include box-shadow(0 1px 0 $borderColor); }
		&.showContent + li header { border-top: 1px solid $borderColor; }
		&.noFooter header h2 { position: static; }
		&.multiple:hover {
			header { background: $borderColor; }
			border-left-color: makeDarker($sat);
		}
		&:nth-child(#{even}) {
			border-left-color: $secondSat;
			$borderColor: makeDarker(makeBright($secondSat));
			header {
				background: makeBright($secondSat);
				border-bottom-color: $borderColor;
			}
			&.showContent + li header { border-top-color: $borderColor; }
			footer li {
				background: makeDarker($secondSat);
				&.plus:hover { background: makeDarkest($secondSat); }
			}
			&.multiple:hover {
				header { background: $borderColor; }
				border-left-color: makeDarker($secondSat);
			}
			.content {
				&, * {
					@include selection { background: makeDarkest($secondSat); }
				}
			}
		}
		header {
			@extend .headingText;
			@include headingText;
			position: relative;
			background: makeBright($sat);
			border-bottom: 1px solid $borderColor;
			padding: 10px 0;

			&:hover { cursor: pointer; }

			a {
				z-index: 99;
			}
			h2 {
				float: left;
				line-height: 39px;
			}
			aside {
				@extend .hideOnMobile;
				float: right;

				ul { @extend .horizontalList; }
				li {
					@include lightText;
					@include border-radius(5px);
					margin-left: 10px;
					background: makeDarker($sat);
					// color: makeDarker();
					color: $light;
					padding: 0 10px;
					line-height: 39px;
					position: relative;
					z-index: 2;
					text: {
						align: center;
						shadow: none;
					}

					&.date { min-width: 8.8125em; }
					&.plus {
						cursor: pointer;
						min-width: 29px;

						&:hover { background: makeDarkest($sat); }
					}
				}
			}

			&:focus {
				outline: none;

				+ .content { display: block; }
			}

			.more a {
				position: relative;
			}
		}
		.content {
			@extend .wrap;
			padding-top: 20px;
			padding-bottom: 20px;
			position: relative;
			display: none;
			text-align: left;

			&:before, &:after {
				@extend .hideOnMobile;
				content: '';
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-top: none;
				border-bottom-color: $light;
				position: absolute;
				top: -10px;
				left: 50%;
				margin-left: -5px;
			}

			&, * {
				@include selection {
					background: makeDarkest($sat);
					@include lightText;
					text-shadow: none;
				}
			}

			&:before {
				margin-top: -1px;
				border-bottom-color: $borderColor;
			}


			&:focus {
				display: block;
				outline: none;
			}
		}
	}
}

.content {
	p, blockquote, pre, li, ul, ol, img, .poster, h1, h2, h3, h4, h5, h6, footer {
		margin-top: 12.8px;

		&:first-child { margin-top: 0; }
	}

	p { line-height: 1.5em; }
	li { border-left: none; }
	ol, ul { margin-left: 20px; }
	ul { list-style: square; }
	ol { list-style: decimal; }
	img { max-width: 100%; }
	p a { @extend .link; }

	blockquote {
		@extend .island;
		border-left: { width: 5px; color: makeBright($dark); }
		padding-left: 15px;
		color: makeLighter($dark);
		font-style: italic;
	}

	code {
		@include border-radius(3px);
		padding: 0 2px;
		background: darken($light, 2);
		border: 1px solid makeDarker($light);
		font-family: monospace;
		color: darken($light, $darkestFactor*4);
	}

	pre {
		white-space: pre;
		margin: 20px 0;

		code {
			$fontSize: 16;
			@include lightText;
			@include border-radius(0);
			background: $dark;
			@include background(linear-gradient(makeLighter($dark) 50%, $dark 50%, $dark));
			@include background-size(#{50 / $fontSize}em #{50 / $fontSize}em);
			display: block;
			border: none;
			padding: #{25 / $fontSize}em #{10 / $fontSize}em;
			line-height: #{25 / $fontSize}em;
			overflow: auto;
		}
	}

	footer {
		border-top: 5px solid makeDarker($light);
		padding-top: 5px;
	}

	.poster {
		padding: 10px;
		padding-bottom: 2px;
		border: 1px solid darken($light, 4);
		background: darken($light, 2);
		width: 75%;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
		position: relative;

		a, img { border: 0 none transparent; }

		&:before, &:after {
			@extend .hideOnMobile;
			position: absolute;
			content: '';
			top: -10px;
			left: 50%;
			margin-left: -5px;
			border: 10px solid transparent;
			border-top: none;
			border-bottom-color: darken($light, 2);
		}

		@include respond-to(handheld) {
			width: 100%;
			border: none;
			padding: 0;
			background: $light;
		}

		&:before {
			margin-top: -1px;
			border-bottom-color: darken($light, 4);
		}

		.overlay {
			@include background-image(
				linear-gradient(black 50%, rgba(0,0,0,0) 50%),
				linear-gradient(left, rgba(0,0,0,0) 50%, black 50%)
			);
			@include background-size(2px 2px);
			@include opacity(0.2);
			position: absolute;
			top: 10px; left: 10px; right: 10px; bottom: 10px;
			z-index: 1;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		@extend .headingText;
		margin: { bottom: .8em; top: 1em; }
	}

	@for $i from 1 through 6 {
		#{h + $i} {
			font-size: #{(16 + ((6 - $i) * 4)) / 16}em;
		}
	}

	.comments-disabled, .fullpost {
		@extend .greyIsland;
	}

	.fullpost {
		// @extend .hideOnMobile;
		display: block;
		border: none;
	}

	.sharing {
		$w: 85px;
		width: $w;
		right: 0 - $w;
		top: 0;
		margin-top: 10px;
		padding-top: 10px;
		overflow: hidden;
		position: absolute;

		ul {
			margin: 0;
			list-style: none;
			padding-bottom: 3px;
		}

		h6 {
			@extend .headingText;
		}

		&.sticky {
			position: fixed;
			right: 50%;
			margin-top: 0;
			margin-right: 0 - $wrapWidth / 2 - $w - 5;
		}

		.buttons li{
			&, a { height: 20px; }
			a {
				border: none;
				font: {
					family: "Tohoma", sans-serif;
					weight: bold;
					size: 11px;
				}
				color: #333;
				padding: 4px;
				padding-left: 16px;
				border: 1px solid #999;
				@include border-radius(3px);
				background: #dedede;
				@include background(linear-gradient(top, #fff, #dedede));
				line-height: 11px;
				display: inline-block;
				position: relative;
				box-shadow: 0 1px 0 #fff;


				&:hover {
					border-color: #666;
					color: #000;
				}

				&:active {
					background: #ddd;
				}

				&:before, &:after {
					font: {
						family: 'social';
						weight: normal;
						size: 14px;
					}
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 16px;
					text-align: center;
					text-shadow: none;
					color: #fff;
					line-height: 20px;
				}

				&:after { z-index: 1; }
				&:before { top: 1px; }

				&.twitter {
					&:before, &:after { content: 't';  line-height: 22px; }
					&:after { color: $sat; }
				}

				&.facebook {
					&:before, &:after { content: 'F'; }
					&:after { color: makeDarker($secondSat); }
				}

				@include respond-to(webkit) {
					&:after {
						@include background-clip(-webkit-text);
						-webkit-text-fill-color: transparent;
					}
					&.twitter:after {
						@include background-image(linear-gradient(top, $sat, makeDarker($sat)));
					}

					&.facebook:after {
						@include background-image(linear-gradient(top, makeDarker($secondSat), makeDarkest($secondSat)));
					}
				}
			}
		}

		@include respond-to(850px) {
			&, &.sticky { position: static; }
			text-align: center;
			width: 100%;
			margin-top: 0;

			h6 { display: none; }

			ul { margin: 0; }

			li {
				display: inline-block;
				margin: 0;
				margin-right: 10px;

				&.buffer { display: none; }
			}
		}
	}

	hr {
		margin: 20px 0;
		border: 5px solid makeDarker($light);
	}

	p img {
		margin: 20px;
		margin-bottom: 15px;
		float: left;
		max-width: 30%;

		&:nth-child(#{even}) {
			float: right;
			margin-left: 20px;
		}
	}
}

footer.main {
	background: makeDarker($light);
	width: 100%;
	text-align: center;
	color: makeLighter($dark);
	text-shadow: 0 1px 0 $light;
	@include bodyText;
	min-height: 8em;
	line-height: 2em;
	padding: 1em 0;
	position: absolute;
	bottom: 0;

	&.nosticky {
		position: relative;
		padding: 0;
		.wrap { padding-top: 1em; }
	}

	.wrap {
		width: 100%;
		padding: 0 20px;
		max-width: 25em;
		margin: 0 auto;
	}

	a {
		@extend .link;
	}

	.anchor, .mark {
		@extend .hideOnMobile;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		opacity: .1;
		@include transition(opacity .3s ease);

		&:hover { opacity: 1; }
	}

	.anchor { right: 50px; opacity: .3; }
	.mark { right: 100px; }
}

.about .content {
	img {
		max-width: 300px;
		float: left;
		margin: 0 20px 20px 0;
	}
}

.clear { width: 100%; height: 0; clear: both; }

body.single.post li .content > p:nth-of-type(1) { font-weight: bold; }
.posts .excerpt { font-weight: normal; }
body.single li .content {
	padding: {
		top: 30px;
		bottom: 30px;
	}
	display: block;
}

.articles li.showContent .content { display: block; }

.iemessage {
	@include lightText(makeDarkest($sat));
	@include headingText;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: $sat;

	a {
		color: makeDarkest($light);
	}
}

.livefyre-comments {
	text-shadow: none;
}

.notfound {
	@include box-shadow(none);
	background: makeDarkest(makeBright($sat));
	@include background-image(
		linear-gradient(
			top,
			makeBright($sat) 1px,
			rgba(0,0,0,0) 1px,
			rgba(0,0,0,0)
		),
		linear-gradient(
			left,
			makeBright($sat) 1px,
			rgba(0,0,0,0) 1px,
			rgba(0,0,0,0)
		)
	);
	@include background-size(10px 10px);

	.browser {
		$h: 500px;
		@include border-radius(5px);
		width: 100%;
		height: $h;
		margin-top: -300px;
		position: relative;
		font: {
			family: cursive;
			weight: bold;
		}
		text-shadow: none;
		margin: 20px auto;
		border: 10px solid #000;

		.content {
			position: absolute;
			top: 75px;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			background: rgba(255, 255, 255, .5);

			.title, .info {
				line-height: $h - 75 - 20;
				position: absolute;
				top: 0; left: 0; right: 0; bottom: 0;
			}

			.title { font-size: 3em; }

			.info {
				top: 3em;
				color: makeLightest(#000);
			}

			a { font-weight: normal; border-bottom: 1px dotted makeLightest(#000); }
		}

		.uibar {
			$h: 75px;
			width: 100%;
			height: $h;
			border-bottom: 10px solid #000;
			position: absolute;
			top: 0; left: 0;
			background: rgba(255, 255, 255, .3);

			.urlbar {
				@include border-radius(3px);
				position: absolute;
				top: 10px;
				bottom: 10px;
				left: 10px;
				right: 120px;
				border: 5px solid #000;
				background: rgba(255, 255, 255, .5);
				line-height: $h - 40;
				padding-left: 10px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.buttons {
				width: 100px;
				height: 30px;
				position: absolute;
				top: 50%; margin-top: -15px;
				right: 10px;
				text-align: center;

				li {
					height: 30px;
					width: 30px;
					@include border-radius(30px);
					border: 5px solid #000;
					display: inline-block;
					background: rgba(255, 255, 255, .5);
				}
			}
		}
	}
}

#disqus_thread {
	margin-top: 10px;
}