@import "compass/css3";
@import "_colors";
@import "_mixins";
@import "_fonts";
@import "compass/reset";

/* General Styles */
* { @include box-sizing(border-box); }
a { color: inherit; text-decoration: inherit; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

/* Theme */ 
body {
	@include bodyText;
	@include darkText;
	font-size: 16px;
	line-height: 1.5em;
	// background: darken($light, 3);
	background: $light;
}

nav {
	@include lightText;
	@include headingText;
	// @include box-shadow(10px 1px 0 makeDarker($dark));
	$height: 50px;
	height: $height;
	border-left: 10px solid makeDarker($dark);
	background: $dark;
	margin-bottom: 1px;
	@include box-shadow(0 1px 0 makeLighter($dark));
	font-size: 1.2em;

	li {
		float: left;
		height: $height;
		line-height: $height;
		position: relative;

		a {
			height: $height;
			padding: 0 10px;
			display: block;

			&.active, &:hover {
				background: makeDarkest($dark);
			}
		}

		&.home {
			width: $height;

			a {
				@include darkText;
				z-index: 2;
				position: relative;
				width: 100%;
				text-align: center;
			}

			&:before {
				@include border-radius($height - 20);
				width: $height - 20;
				height: $height - 20;
				content: '';
				background: $light;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: 0 - ($height - 20) / 2;
				margin-top: 0 - ($height - 20) / 2;
			}
		}
	}
}

.articles {
	width: 100%;

	li {
		@include darkText;
		position: relative;
		border-left: 10px solid $sat;
		background: $light;

		&:nth-child(even) {
			border-color: $secondSat;
			header {
				background: makeBright($secondSat);
				border-bottom-color: makeDarker(makeBright($secondSat));

//				.date {
//					@include lightText($secondSat);
//					background: makeDarker($secondSat);
//				}

				footer li {
					@include lightText($secondSat);
					background: makeDarker($secondSat);

					a:hover {
						@include lightText(makeDarker($secondSat));
						&, &:before, &:after {
							background: makeDarkest($secondSat);
						}
					}
				}
			}

			.content {
				@include selection {
					background: makeBright($secondSat);
				}
			}


			&:hover {
				header { background: makeDarker(makeBright($secondSat)); }
				border-left-color: makeDarker($secondSat);
			}

		}

		&:hover {
			header { background: makeDarker(makeBright($sat))}
			border-left-color: makeDarker($sat);
		}

		header {
			position: relative;
			padding: 20px;
			background: makeBright($sat);
			@include headingText;
			border-bottom: 1px solid makeDarker(makeBright($sat));

//			.date {
//				@include lightText($sat);
//				@include border-radius(5px);
//				position: absolute;
//				right: 15px;
//				top: 15px;
//				bottom: 10px;
//				background: makeDarker($sat);
//				padding: 0 10px;
//				line-height: 39px;
//			}

			footer {
				position: absolute;
				top: 15px;
				right: 15px;
				bottom: 10px;

				li {
					@include lightText($sat);
					@include border-radius(5px);
					float: left;
					margin-left: 10px;
					background: makeDarker($sat);
					padding: 0 10px;
					line-height: 39px;
					border: none;
					position: relative;

					a {
						@include border-radius(0);
						width: 100%;
						height: 100%;
						display: block;
						position: relative;
						&:hover {
							@include lightText(makeDarker($sat));
							&, &:before, &:after {
								background: makeDarkest($sat);
							}
						}

						&:before, &:after {
							top: 0;
							bottom: 0;
							width: 10px;
							content: '';
							position: absolute;
						}

						&:before {
							left: -10px;
							@include border-radius(5px 0px 0px 5px);
						}

						&:after {
							right: -10px;
							@include border-radius(0px 5px 5px 0px);
						}
					}
				}
			}
		}

		.content {
			background: $light;
			width: 100%;
			padding: 20px;
			max-width: 840px;
			margin: 0 auto;
			position: relative;

			&:before, &:after {
				content: '';
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-top: none;
				border-bottom-color: $light;
				position: absolute;
				top: -10px;
				left: 50%;
				margin-left: -5px;

				@include respond-to(handheld) {
					display: none;
				}
			}

			@include selection {
				background: makeBright($sat);
			}

			&:before {
				margin-top: -1px;
				border-bottom-color: makeDarker(makeBright($sat));
			}
		}
	}
}

.content {
	p, blockquote, pre code {
		margin-bottom: 1.5em;

		&:only-child {
			margin-bottom: 0;
		}
	}

	blockquote {
		border-left: 5px solid makeBright($dark);
		padding-left: 15px;
		color: makeLighter($dark);
		font: {
			style: italic;
			size: .8em;
		}
	}

	code {
		@include border-radius(3px);
		padding: 3px;
		background: makeDarker($light);
		border: 1px solid makeDarkest($light);
		font-family: monospace;
		color: makeLighter($dark);
	}

	pre {
		white-space: pre;

		code {
			$fontSize: 16;
			@include border-radius(0);
			@include lightText;
			background: $dark;
			@include background(linear-gradient(makeLighter($dark) 50%, $dark 50%, $dark));
			@include background-size(#{50 / $fontSize}em #{50 / $fontSize}em);
			display: block;
			border: none;
			padding: #{25 / $fontSize}em #{10 / $fontSize}em;
			line-height: #{25 / $fontSize}em;
		}
	}
}

footer.main {
	background: makeDarker($light);
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: makeLighter($dark);
	text-shadow: 0 1px 0 $light;
	@include bodyText;
	padding: 20px 0;
	line-height: 2em;

	.wrap {
		width: 100%;
		padding: 0 20px;
		max-width: 540px;
		margin: 0 auto;
	}

	a {
		@include transition(border-bottom-width .2s ease);
		border-bottom: 2px solid makeDarkest($secondSat);

		&:nth-of-type(odd) {
			border-bottom-color: makeDarkest($sat);
		}

		&:hover { border-bottom-width: 5px;}
	}
}